@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg-blue: hsl(217, 54%, 11%);
  --card-bg-blue: hsl(216, 50%, 16%);
  --line-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  background: var(--white);
}

.card-wrapper {
  width: 100%;
  min-height: 100vh;
  background: var(--main-bg-blue);
  display: flex;
  justify-content: center;
}

.card {
  width: 20rem;
  height: 34rem;
  background: var(--card-bg-blue);
  padding: 1rem;
  margin: auto;
  border-radius: 1.25rem;
}

.card-img {
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 18rem;
}

.card-img:hover {
  cursor: pointer;
}

.card-img:hover .card-img-overlay {
  opacity: 1;
}

.card-img-top {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.card-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: hsla(178, 100%, 50%, 0.5);
  border-radius: 0.5rem;
}

.card-title {
  margin-bottom: 0.75rem;
  color: var(--white);
  height: 1.75rem;
}

.card-title h3 {
  font-family: 'Outfit', sans-serif;
}
.card-title:hover {
  opacity: 1;
}

.card-details {
  height: 3.3rem;
  width: 100%;
  color: var(--soft-blue);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-meta .left {
  color: var(--cyan);
}

.card-meta .right {
  color: var(--soft-blue);
}

.card-meta span {
  margin-right: 7.48px;
}

.card-meta .left,
.card-meta .right {
  height: 20px;
  display: flex;
}

.card-meta p {
  font-family: 'Outfit', sans-serif;
}

.card-seperator {
  margin-bottom: 1rem;
  width: 100%;
  height: 1px;
  background: var(--line-blue);
}

.card-creator {
  font-size: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.card-creator img {
  width: 33px;
  height: 33px;
  border-radius: 50px;
}

.card-creator .card-creator-details span:nth-child(1) {
  color: var(--soft-blue);
  margin-left: 1rem;
}

.card-creator .card-creator-details span:nth-child(2) {
  color: var(--white);
}

.card-creator .card-creator-details span:nth-child(2):hover,
.card-title h3:hover {
  color: var(--cyan);
  cursor: pointer;
}

.attribution {
  font-size: 1rem;
  font-weight: bold;
  padding: 25px 10px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 640px) {
  .attribution {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
